extends default

block content
  div.container
    each enemy in enemies
      div.enemy
        div.enemy.image(style=`background: url('/images/${enemy.imgSrc}') top center no-repeat; background-size: cover;`)
        h2.enemy.name
          | #{enemy.name}
        a(href=`/profile?id=${enemy.id}`)
          | View Profile